#container {
  background: linear-gradient(135.46deg, #d11450, #df293a);
  width: 100%;
  padding: 10px 0 32px;
  margin-bottom: 18px;
}
#wrapper {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}

#background {
  position: absolute;
  z-index: -1;
}
.suggestion-item{
  width: 300px;
  height: 20px;
}

#title {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.5;
  margin: 16px 0;
  text-align: center;
}
#autoComplete {
  width: 100%;
  height: 100%;
  line-height: 1;
  outline: none;
  padding: 19px 50px 19px 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  transition: 0.2s;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
#homeCalender,
#homeRoom {
  height: 100%;
  border: 1px solid #999;
  border-right: none;
  border-left: none;
  padding: 19px 50px 19px 16px;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.87);
  cursor: pointer;
}
::-webkit-input-placeholder {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
#homeCalender span {
  font-size: 16px;
  font-weight: 600;
}
#homeRoom span {
  font-size: 16px;
  font-weight: 600;
}
#homebutton {
  background: #1ab64f;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  outline: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 30px;
  transition: 0.2s;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#searched {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  min-width: 170px;
  margin: 0 20px 0 0;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
#searchedPlace {
  border: 2px solid #fff;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  background-color: transparent;
  padding: 8px;
  margin-right: 16px;
  cursor: pointer;
  line-height: 20px;
  margin-top: 5px;
}
#searchedPlace:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
#dropDownContainer {
  width: 260px;

  position: absolute;
  /* top: 100%;
  left: 0; */
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
#dropDownHead {
  color: #333;
  padding: 18px 0 14px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin: 0 16px;
}
#operator {
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  color: #ee2e24;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  min-width: 10px;
  padding: 2px 8px 4px;
  text-align: center;
  vertical-align: middle;
}
.location-search-input {
  width: 100%;
  height: 100%;
  line-height: 1;
  outline: none;
  padding: 19px 50px 19px 16px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  transition: 0.2s;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
